* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: linear-gradient(to top, rgba(65, 80, 165, 0.452), rgba(84, 74, 182, 0.842));
    position: relative;
    min-height: 100vh;
}

h1 {
    color: rgb(208, 235, 147);
}


/*Audio*/


/* audio {
    display: none;
} */


/*Digital Clock Section*/

.full-date {
    font-size: 40px;
}

.digital-clock {
    font-size: 500%;
    color: #65d44f;
    border: 1px solid #f80606;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 5px 0 5px; */
}


/* Layout */

.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Clock styles */

#clockContainer {
    position: relative;
    margin: auto;
    height: 39vw;
    width: 39vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}


/*footer styling*/

footer {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: red;
}